* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 450px;
  background: #161616;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  background: #0f0f0f;
  color: white;
}

button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: white;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #dddddd;
}

.section {
  margin-top: 20px;
}

.section h2 {
  margin-bottom: 10px;
  border-left: 3px solid white;
  padding-left: 10px;
}

ul {
  list-style: none;
}

li {
  background: #0f0f0f;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.time {
  font-size: 11px;
  color: #888;
}

.actions {
  display: flex;
  gap: 6px;
}

.actions button {
  padding: 6px 10px;
  font-size: 12px;
}

.delete {
  background: #444;
  color: white;
}
